@import url("normalize.css");

a { color: #2d5abb }

html, .root {
  font-size: 16px;
  line-height: 24px;
}
body, .article {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: #242424;
  font-size: 1rem;
  line-height: 1.5rem;
}

h1, h2 {  font-weight: 900 }
h1, h2, h3, h4, h5 { margin-top: 1.5rem }
h3, h4,h5 { margin-bottom: 0 }

h1 {
  font-size: 3.625rem;
  line-height: 4.5rem;
  margin-bottom: 3rem;
}
h2 {
  font-size: 2.375rem;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}
h3 {
  font-size: 1.5625rem;
  line-height: 3rem;
}
h4 {
  font-size: 1rem;
  line-height: 1.5rem;
}
h5 {
  font-size: 1rem;
  line-height: 1.5rem;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Let's make sure all's aligned */
hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code { line-height: 0 }
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup { top: -0.5em }
sub { bottom: -0.25em }
